[submodule "hegel-cli"]
	path = hegel-cli
	url = https://github.com/dialecticianai/hegel-cli.git
[submodule "hegel-mirror"]
	path = hegel-mirror
	url = https://github.com/dialecticianai/hegel-mirror.git
[submodule "hegel-pm"]
	path = hegel-pm
	url = https://github.com/dialecticianai/hegel-pm.git
